.nav-links{
    display: flex;
    padding-left: 10px; 
    padding-bottom: 10px;
    padding-top: 20px;
    padding-right: 10px;
    list-style-type: none; 
    /* background-image: url("TitleBack.png");  */
    /* background-size: cover; 
    background-position: center;  */
    gap: 40px;
    align-items: center;
    padding: 20px 10px 10px;
    background-color: black;
}
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
html, body {
   margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.title {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:"wdth" 100;
  color:rgb(255, 255, 255);
  font-size: 60px;
  position: relative;
  top: 8px;
}
.nav-links a:first-of-type {
  margin-left: auto;
}
.nav-links a {
  line-height: 1;      
  padding: 6px 0;
  font-family: "Garamond", serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  margin-top: 35px;
}
.nav-links h1{
  margin: 0;            
  line-height: 1;       
}
.line {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
}